.result-container {
  height: 280px;
  margin: 5px 90px;
  display: flex;
  flex-direction: row;
  padding: 20px 25px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.profile-image {
  width: 235px;
  height: auto;
}

.profile-image img {
  width: 100%;
}

.profile-records {
  padding: 8px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 30px;
  flex: 1;
}

.profile-records h1 {
  margin-top: 20px;
  margin-left: 30px;
}